name: Build

on: [push, pull_request]

jobs:
    build:
        name: Build
        runs-on: ubuntu-latest

        steps:
            - name: Checkout
              uses: actions/checkout@v2

            - name: Set up JDK
              uses: actions/setup-java@v1
              with:
                java-version: '11'

            - name: Build with Maven
              run: mvn test
            
            - name: Setup Maven
              env:
                TOKEN: ${{ secrets.GITHUBTOKEN }}
                USERNAME: JeffreyRiggle
              run: |
                envsubst < settings.tmpl > ~/.m2/settings.xml
            
            - name: Deploy
              env:
                TOKEN: ${{ secrets.GITHUBTOKEN }}
              run: |
                mvn deploy -Drevision="${GITHUB_RUN_NUMBER}"